<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>广告页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
	<div class="cover-content">
		<div class="cover-title"><img src="#"></div>
		<div class="cover-icon"><img src="#"></div>
		<div class="cover-motto"><h>给我们一本书<br>我们给孩子一个世界</h></div>
	</div>
	<script type="text/javascript">
        var t = 2;
        setInterval("refer()", 2000); 
		function refer(){ 
    	if (t == 0) {
        	location = "index.html";
    	}
        t--; // 计数器递减
}
</script>
</body>
</html>